{% extends 'base.html.twig' %}
{% block title %}Film{% endblock %}
{% block body %}
{% include "base_admin.html.twig" %}
<div id="content-wrapper" class="d-flex flex-column">
  

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bande d'annonce</h1>
  </div>


  	{% if ajout==1 %}
	<div class="alert alert-success" role="alert">
  		La bande d'annonce a bien été ajouter
	</div>
	{% endif %}
	<form method="post" class="needs-validation" novalidate>
		<div class="form-group">
			<label>Lien</label>
			<input class="form-control" type="text" name="lien" required>
		</div>
     <div class="form-group">
      <label>Film</label>
      <select name="film_id" class="form-control" required>
        {% for film in films %}
        <option value="{{film.id}}">{{film.titre}}</option>
        {% endfor %}
      </select>
    </div>
		<button type=submit value="ajouter" class="btn btn-dark">Ajouter</button>	
	</form>
  </div>
  </div>

{% endblock %}
{% block javascripts %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}