{% extends 'base.html.twig' %}
{% block title %}Salles{% endblock %}
{% block body %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Salles</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
	<table class="table table-hover">
  			<thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nom</th>
		      <th scope="col">Adresse</th>

		  </thead>
		  <tbody>
		  	{% for salle in salles %}
		    <tr>
		      <th scope="row">{{loop.index}}</th>
		      <td>{{salle.nom}}</td>
		      <td>{{salle.adresse}}</td>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
{% endblock %}