{% extends 'base.html.twig' %}
{% block title %}Film{% endblock %}
{% block body %}
{% include "base_admin.html.twig" %}
<div id="content-wrapper" class="d-flex flex-column">
  

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Photos</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
	<table class="table table-hover">
  			<thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Lien</th>
		      <th scope="col">Film</th>
		  </thead>
		  <tbody>
		  	{% for photo in photos %}
		    <tr>
		      <th scope="row">{{loop.index}}</th>
		      <td><img src="{{photo.lien}}" style="max-height: 100px"></td>
		      <td>{{photo.film.titre}}</td>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	</div>
	</div>
{% endblock %}