{% extends 'base.html.twig' %}
{% block title %}Film{% endblock %}
{% block body %}
{% include "base_admin.html.twig" %}
<div id="content-wrapper" class="d-flex flex-column">
  

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Realisateurs</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
	<table class="table table-hover">
  			<thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nom</th>
		      <th scope="col">Prenom</th>

		  </thead>
		  <tbody>
		  	{% for realisateur in realisateurs %}
		    <tr>
		      <th scope="row">{{loop.index}}</th>
		      <td>{{realisateur.nom}}</td>
		      <td>{{realisateur.prenom}}</td>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	</div>
	</div>
{% endblock %}