{% extends 'base.html.twig' %}

{% block title %}Hello CineController!{% endblock %}

{% block body %}


    <div class="row">
       <div class="col-sm-12"> 
            {% for cat in categorie %} 
                <h1 class="titre"> {{cat.titre}} ! ✅</h1>
                <div class="col-sm-4 jeuxvideo_home">
                    <img src="{{cat.image}}" class="image_home"/>
                    <a href="{{path('categorie_show', {'id': cat.id})}}"> {{cat.titre}}</a>
                    <hr>
                </div>
            {% endfor %}
       </div>
    </div>
{% endblock %}