{% extends 'base.html.twig' %}

{% block title %}Hello CineController!{% endblock %}

{% block body %}

<div class="container-lg">
<div class="row row-cols-1 row-cols-md-3">
   {% for real in realisateur %} 
  <div class="col mb-4">
     
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{real.prenom}} {{real.nom}}</h5>
        <p class="card-text"><small class="text-muted">{{real.films|length}} films realisés</small></p>
        <a href="{{path('realisateur_show', {'id': real.id})}}" type="button" class="btn btn-outline-info">Voir plus</a>
      </div>
    </div>
   
  </div>
   {% endfor %}
</div>
</div>

{% endblock %}